/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }
   body {
   	line-height: 1;
   }
   ol, ul {
   	list-style: none;
   }
   blockquote, q {
   	quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
   	content: '';
   	content: none;
   }
   table {
   	border-collapse: collapse;
   	border-spacing: 0;
   }

/*END OF CSS RESET*/

/* Type */
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v11/ZKwULyCG95tk6mOqHQfRBCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v11/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
   	width:100%;
   	margin:0px 0px;
      font-family: 'Raleway', sans-serif;
      font-size: 14pt;
      font-weight: 300 !important;
      letter-spacing: 0.09em;
      line-height: 1.65em;
   }



   #wrapper{
   	width:100%;
   	height:2100px;
   	margin:0px 0px;
   	background-color:black;
   }
   .header {
      padding-top: 95px;
      background-color:#00CDCF;
   	height:600px;
      box-sizing: border-box;
   }

   .header h1 {
     
      display:block;
      box-sizing: border-box;

      height:240px;
      width:630px;
      
      margin:auto;
      padding:50px 0 0 0;
      
      /*Аллилуя, бордер такой как надо*/
      border-color:#ffffff;
      border-style: double solid;
      border-width: 4px 1px;
      
      color:white;
      text-align:center;
      font-family:sans-serif;
      font-size:2.3em;
   

      letter-spacing:1.8px;
      line-height: 1.3em;
   	
      
   }

.header h2 {
      display:block;
      color:white;
      font-size: 25px;
      font-family: sans-serif;
      text-align: center;
      margin:45px 0 50px 0;
   }

.header a {
      box-sizing: border-box;
      color:white;
      background-color: #009A9C;
      display: block;
      height: 45px;
      width:170px;
      margin:auto;
      text-align:center;
      text-decoration:none;
      font-family:sans-serif;
      padding-top:15px;
      letter-spacing: 1px;
      
   }

#text {
			
   }
		
   strong {
      font-weight: bold;
	}

.main {
   background-color:white;
   height:750px;
   display:block;
   padding-top: 95px;
   text-align:center;

   }

.main h2 {
   box-sizing: border-box;
   display:inline-block;
   font-size:25px;
   font-family: sans-serif;
   color:gray;
   padding-bottom:17px;
   margin-bottom:60px;
   border-bottom:4px double #d4d6d8;
   letter-spacing: 1px;
}

.footer {
   	background-color:red;
   	margin:0px 0px;
      text-align: center;
}

.blocks_inf {
   margin:auto;
   /*float: left;*/
   border-collapse: collapse;
   }

ul.blocks_inf {
   display:block;
   max-width:1000px;
   margin:auto;
}

.blocks_inf li {
   font-size:18px;
   line-height:1.7em;
   color:#645F5F;
   width: 320px;
   height: 240px;
   display: inline-block;
   border: 1px solid #e3e3e3;
   border-spacing:0px 0px;
   margin-left: -5px;
   margin-top: -1px;
   
}
.blocks_inf li img {
   width: 55px;
   height: 55px;
   padding: 2em;
}

.blocks_inf h3 {
   font-size:18px;
}

.blocks_inf p {
   margin:0 20px;
   letter-spacing: 0.5px;
}

.footer {
   height:730px;
   background-color: #F7F7F7;
   padding-top:80px;
   text-align: center;
}

#box {
   width: 100%;
}

#getIntouch {
   padding-bottom: 45px;
}

#getIntouch h2{
   box-sizing: border-box;
   display:inline-block;
   font-size:25px;
   font-family: sans-serif;
   color:gray;
   padding-bottom:17px;
   border-bottom:4px double #d4d6d8;
   letter-spacing: 1px;
}


textarea {
   width:560px;
   height:104px;
   border: 1px solid #d4d6d8;
}

input {
   display:inline-block;
   width:229px;
   height:42px;
   float:left;
   border: 1px solid #d4d6d8;
}

#formBox a {
   box-sizing: border-box;
      color:white;
      background-color:#555555;
      display: block;
      height: 45px;
      width:170px;
      margin:auto;
      text-align:center;
      text-decoration:none;
      font-family:sans-serif;
      padding-top:15px;
      letter-spacing: 1px;

}
.button {
      box-sizing: border-box;
      color:white;
      background-color: #555555;
      display: block;
      height: 45px;
      width:190px;
      margin:auto;
      text-align:center;
      text-decoration:none;
      font-family:sans-serif;
      padding-top:15px;
      letter-spacing: 1px;
}

.nameAndEmail{
 display: inline-block;
}

.nameAndEmail input {
   width: 260px;
   padding:10px;
   font-size:1em;

}

.email input {
   float:right;
}

textarea#form {
   padding:10px;
   font-size:1.4em;
}



.nameAndEmail input:hover {


   border:2px solid #00CDCF;
}

textarea#form:hover{


   border:2px solid #00CDCF;
}


.nameAndEmail li {
   float: left;
   padding-bottom: 40px;
   width: 50%;

}

.name {
 color: #828282;
}

.email {
 color: #828282;
}

.massage {
 color: #828282;
 margin-bottom:35px;

}

#copyrigth {
   display:inline-block;
   color:#CFC0BB;
   width:515px;
   padding-top:70px;
   margin-top:170px;
   border-top: 1px solid #DDDDDD;
   }

#copyrigth a {
   color:#73CDD0;
   letter-spacing: 2px;
}

#copyrigth a:hover {
   text-decoration:none;
}